In [8]:
# (1) DataFrame :
import pandas as pd

data={
    'NAME':["Om","Aarav","rushi"],
    'PRN':["22UIA047","22UAI046","22UAI030"]
}

name_prn = pd.DataFrame(data)
print(name_prn)
print()
print(name_prn.loc[2]) #use the(loc) attribute to return one or more specified row(s)
print()
print(name_prn.loc[[0 ]])

    NAME       PRN
0     Om  22UIA047
1  Aarav  22UAI046
2  rushi  22UAI030

NAME       rushi
PRN     22UAI030
Name: 2, dtype: object

  NAME       PRN
0   Om  22UIA047

In [131]:
#Series
import pandas as pd
data=[1,2,3,4,5,6]


val=pd.Series(data,index=[1,2,3,4,5,6])
print(val)
print(val[6])

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64
6

In [2]:
#Series

import pandas as pd
data={ 
        'name':[24,12,45],
        'city':[1,2,3]  
        }            #key and value
name_age=pd.Series(data)
print(name_age)

name    [24, 12, 45]
city       [1, 2, 3]
dtype: object

In [12]:
#Series
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories) #Note: The keys of the dictionary become the labels.
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [18]:
#Load the CSV into a DataFrame:
import pandas as pd
df =pd.read_csv(r'E:\python\Salary_dataset.csv')
print(df.head(5)) # specific data
# print(df.to_string()) # for print all data
print()
print(pd.options.display.max_columns) #check your system's maximum rows

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

20

#Cleaning the data

In [2]:
import pandas as pd

data =pd.read_csv(r'D:\5th sem\ml\2023\2. Data Collection _ Preprocessing\Data.csv')
new_data = data.dropna() #for creating a new file of editred data
# data.dropna(inplace = True) # in same file changes the this
# print(data) # all data printed
print(new_data.head()) # wherever blank is there row is removed

   Country   Age   Salary Purchased
0    India  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5    India  35.0  58000.0       Yes

In [3]:
import pandas as pd

data =pd.read_csv(r'D:\5th sem\ml\2023\2. Data Collection _ Preprocessing\Data.csv')
# data.fillna(0000,inplace = True) #whereeveer null replace withb value
data["Salary"].fillna(130, inplace = True)#Replace Only For Specified Columns

print(data.to_string())

   Country   Age   Salary Purchased
0    India  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0    130.0       Yes
5    India  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7    India  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9    India  37.0  67000.0       Yes

C:\Users\rushi\AppData\Local\Temp\ipykernel_21100\2149068386.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Salary"].fillna(130, inplace = True)#Replace Only For Specified Columns

Replace Using Mean, Median, or Mode

In [5]:
import pandas as pd

data =pd.read_csv(r'D:\5th sem\ml\2023\2. Data Collection _ Preprocessing\Data.csv')
# x= data["Salary"].mean()  #mean
# x= data["Salary"].mode()[0] #mode
x= data["Salary"].median() #median
data["Salary"].fillna(x, inplace = True)#Replace Only For Specified Columns

print(data.to_string())

   Country   Age   Salary Purchased
0    India  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5    India  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7    India  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9    India  37.0  67000.0       Yes

C:\Users\rushi\AppData\Local\Temp\ipykernel_21100\2916216510.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Salary"].fillna(x, inplace = True)#Replace Only For Specified Columns

In [47]:
import pandas as pd

data =pd.read_csv(r'E:\python\Salary_dataset.csv')
df.drop_duplicates(inplace = True)
# print(df.duplicated())

print(df.to_string())

    Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0